@page
@model Frontend.Pages.NecesidadesModel
@{
}
<h>Ingresar Necesidades</h>
 
<table class="table">
    @foreach (var Necesidades in Model.Necesidades)
    {
        <tr>
            <td>@Necesidades.Salud</td>
            <td>@Necesidades.Clasificacion_Salud</td>
                <!--Esta parte no esta comprobada que este buena, solo esta de manera piloto,
                pero hat que ver si esta en la base de datos -->
                <form>
                    <input type="checkbox" id="idMigrantes" name="idMigrantes" >
                    <label for="idMigrantes"> Baja </label><br>
                    <input type="checkbox" id="idMigrantes" name="idMigrantes" >
                    <label for="idMigrantes">Media </label><br>
                    <input type="checkbox" id="idMigrantes" name="idMigrantes" >
                    <label for="idMigrantes">Alta </label>
                </form>
                                       
            <td>@Necesidades.Alimentacion</td>
            <td>@Necesidades.Empleo</td>
            <td>@Necesidades.Alojamiento_temporal</td>
            <td>@Necesidades.Alojamiento_permanente</td>
            <td>@Necesidades.Educacion</td>
            <td>@Necesidades.Ayuda_legal</td>
 
 
            <td>
                <a class = "btn btn-primary table-btn" asp-page="./DetailsAgro" asp-route-MigrantesId="@Necesidades.Id">
                    <i class="fas fa-info-circle fa-lg" ></i>
                </a>                
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditAgro" asp-route-Migrantes="@Necesidades.Id">
                <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
             
            </td>
        </tr>
       
    }
 
 
 
 
 
</table>
<a asp-page="./EditNecesidades" class="btn btn-primary">Registrar</a>
