@page
@model Frontend.Pages.MigrantesModel
@{
}
<h>Ingresar Migrantes</h>

<table class="table">
    @foreach (var Migrantes in Model.Migrantes)
    {
        <tr>
            <td>@Migrantes.nombre</td>
            <td>@Migrantes.apellidos</td>
            <td>@Migrantes.tipo_documento</td>
            <td>@Migrantes.numero_documento</td>
            <td>@Migrantes.pais</td>
            <td>@Migrantes.fecha_nacimiento</td>
            <td>@Migrantes.correo</td>
            <td>@Migrantes.telefono</td>
            <td>@Migrantes.direccion</td>
            <td>@Migrantes.ciudad</td>
            <td>@Migrantes.situacion_laboral</td>
            <td>@Migrantes.contraseña</td>


            
            <td>
                <a class = "btn btn-primary table-btn" asp-page="./DetailsAgro" asp-route-MigrantesId="@Migrantes.Id">
                    <i class="fas fa-info-circle fa-lg" ></i>
                </a>                
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditAgro" asp-route-Migrantes="@Migrantes.Id">
                <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
              
            </td>
        </tr>
        
    }





</table>
<a asp-page="./EditMigrantes" class="btn btn-primary">Registrar</a>

