@page
@model Frontend.Pages.NecesidadesModel
@{
}
<h>Ingresar Necesidades</h>

<table class="table">
    @foreach (var Necesidades in Model.Necesidades)
    {
        <tr>
            <td>@Necesidades.Salud</td>
            <td>@Necesidades.Alimentacion</td>
            <td>@Necesidades.Empleo</td>
            <td>@Necesidades.Alojamiento_temporal</td>
            <td>@Necesidades.Alojamiento_permanente</td>
            <td>@Necesidades.Educacion</td>
            <td>@Necesidades.Ayuda_legal</td>


            <td>
                <a class = "btn btn-primary table-btn" asp-page="./DetailsAgro" asp-route-MigrantesId="@Necesidades.Id">
                    <i class="fas fa-info-circle fa-lg" ></i>
                </a>                
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditAgro" asp-route-Migrantes="@Necesidades.Id">
                <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
              
            </td>
        </tr>
        
    }





</table>
<a asp-page="./EditMigrantes" class="btn btn-primary">Registrar</a>